<div class="row prep2Image">
    <div class="col-6">
        <h2>Journalnotat</h2>
    </div>
    <div class="col-6">
        <img src="icons/Vestre Viken.png" class="img-rounded pull-right">
    </div> 
</div>

<div class="well">
    <div class="row">
        <div class="col-12">
            <h3>Pasientens egenregistrerte opplysninger før konsultasjon</h3>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-12">
            <h4>Pasientens subjektive beskrivelse</h4>
            <ul class="list-group">
                <li class="list-group-item">{{prepData.beskrivelse}}</li>
            </ul>
        </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12">
        <h4>Tema pasienten ønsker berørt</h4>
        <div class="panel panel-default" style="margin-top: 10px;" ng-hide="!prepData.temadata.length">
          <table class="table">
            <thead>
              <tr>
                <th>Tema</th>
                <th>Tekst</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tema in prepData.temadata">
                <td>{{tema.tittel}}</td>
                <td>{{tema.tekst}}</td>
              </tr>
            </tbody>  
          </table>
        </div>
      </div>
    </div>
</div>