<div class="row">
	<div class="col-12">
        <!-- Modal -->
        <div class="modal fade" id="prep1Modal" tabindex="-1" role="dialog" aria-labelledby="prep1ModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Informasjon</h4>
              </div>
              <div class="modal-body">
                <p>Det er viktig for oss at du som pasient føler deg hørt og har en så god opplevelse av møtet med oss som mulig. Denne siden gir deg derfor mulighet til å formidle din opplevelse av sykdomssituasjonen med egne ord. I tillegg kan du sete opp en liste med spørsmål/forventninger som du ønsker skal dekkes i din konsultasjon slik at vi er best mulig forberedt.</p>
                <p>Ditt personvern og sikkerhet er viktig for oss. Det er lagt stor vekt på sikkerhet, og all kommunikasjon krypteres og vil kun tilgjengeliggjøres for de som har et reelt behov.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Nei</button>
                <button type="button" class="btn btn-success">Ja</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="page-header">
            <h1>Registrering <small>Bakgrunnsinfo og forventninger</small></h1>
        </div>
	</div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Beskrivelse</h3>

        <div class="form-group">
            <label for="beskrivelsearea">Her kan du beskrive din sykdomssituasjon med egne ord:</label>
            <span class="pull-right text-muted">{{ledig}} tegn igjen</span>
            <textarea id="beskrivelsearea" class="form-control" rows="6" ng-model="data2.beskrivelse"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Tema</h3>

        <p><strong>Her kan du beskrive de tema du vil ta opp/de forventninger du har til møtet med oss. Det er satt en begrensning på seks tema.</strong></p>
    </div>
</div>