<div class="container">
	<!-- Navbar -->
	<div class="navbar">
		<ul class="nav navbar-nav">
			<li ng-class="isStep(1)"><a href="javascript:;">Tilbakemelding</a></li>
			<li ng-class="isStep(2)"><a href="javascript:;">Opplysninger</a></li>
			<li ng-class="isStep(3)"><a href="javascript:;">Spørsmål (valgfritt)</a></li>
			<li ng-class="isStep(4)"><a href="javascript:;">Bekreftelse</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h3>Takk for din tilbakemelding!</h3>
		<p>Meldingen din vil nå bli lest av vår tilbakemeldingsbehandler før den kan bli publisert på nettsidene.</p>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h3>Hva vil du gjøre nå?</h3>
		<p>Se hva andre har sagt!<a href="javascript:;">Til fortellinger</a></p>
	</div>
</div>

<div class="row">
	<div class="col-12" style="text-align: center;">
		<a href="javascript:;">Til hovedside</a>
	</div>
</div>