<div class="container">
	<!-- Navbar -->
	<div class="navbar">
		<ul class="nav navbar-nav">
			<li ng-class="isStep(1)"><a href="javascript:;">Tilbakemelding</a></li>
			<li ng-class="isStep(2)"><a href="javascript:;">Opplysninger</a></li>
			<li ng-class="isStep(3)"><a href="javascript:;">Spørsmål</a></li>
		</ul>
	</div>
</div>

<!-- Overskrift forms -->
<div class="row">
	<div class="col-12">
		<h3>Hvem er du?</h3>
	</div>
</div>

<!-- Forms row -->
<div class="row">
	<div class="col-6">
		<div class="form-group">
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios1" value="patient" ng-model="feedbackData.status" />
					Pasient
				</label>
			</div>
		</div>
				
		<div class="form-group">
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios1" value="family" ng-model="feedbackData.status" />
					Pårørende
				</label>
			</div>
		</div>
	</div>
	
	<div class="col-6">
		<div class="form-group">
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios2" value="male" ng-model="feedbackData.gender" />
					Mann
				</label>
			</div>
		</div>
				
		<div class="form-group">
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios2" value="female" ng-model="feedbackData.gender" />
					Kvinne
				</label>
			</div>
		</div>
	</div>
</div>

<!-- Overskrift forms -->
<div class="row">
	<div class="col-12">
		<h3>Om sykehusbesøket</h3>
	</div>
</div>

<!-- Forms row -->
<div class="row">
	<div class="col-12">
		<div class="form-group">
			<select class="form-control" id="tilbakemelding" ng-model="feedbackData.opphold" ng-options="o for o in oppholdsvarighet">
				<option value="" ng-show="!feedbackData.opphold">Varighet på opphold...</option>
			</select>
		</div>
		
		<div class="form-group">
			<select class="form-control" id="tilbakemelding" ng-model="feedbackData.behandling" ng-options="o for o in behandlinger">
				<option value="" ng-show="!feedbackData.behandling">Velg behandling...</option>
			</select>
		</div>
		
		<div class="form-group">
			<select class="form-control" id="tilbakemelding" ng-model="feedbackData.avdeling" ng-options="o for o in avdelinger" ng-disabled="disableAvdeling">
				<option value="" ng-show="!feedbackData.avdeling">Velg avdeling...</option>
			</select>
		</div>
	</div>
</div>

<!-- Buttons row -->
<div class="row">
	<div class="col-3">
		<a href="#" ng-href="#/step-1" class="btn btn-primary">Tilbake</a>	
	</div>
	
	<div class="col-6">
		<div class="progress">
			<div class="progress-bar" style="width: 66%;"></div>
		</div>
	</div>
			
	<div class="col-3">
		<a href="#" ng-href="#/step-3" class="btn btn-primary pull-right">Neste</a>
	</div>
</div>